.btn-square {
    border-radius: 0;
}

.btn-pill {
    border-radius: 10rem;
}

.btn-shadowed {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  
    &:active {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(1px);
    }
}     